<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>Ciacho mind map</title>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/eggplant/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/eggplant/theme.css" type="text/css">


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>
    <script src="bower_components/ui-contextmenu/jquery.ui-contextmenu.js"></script>
    <script src="javascripts/colorbrewer.js"></script>
    <script src="javascripts/geometry.js"></script>
    <script src="javascripts/script.js"></script>
    <script src="javascripts/mapLogic.js"></script>
</head>

<body onLoad="onLoadBody();">

    <div id="graphPanel" class="ui-widget ui-widget-content ui-corner-all">
        <div id="graph"></div>
    </div>

    <div id="listPanel">
        <ul>
            <li><a href="#tabToDo">ToDo</a></li>
            <li><a href="#tabBuy">Zakupy</a></li>
        </ul>
        <div id="tabToDo">
        </div>
        <div id="tabBuy">
        </div> 
    </div>
    
    <div id="dialog-confirm" title="Remove this node?" style="display:none;">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    
    <div id="dialog-edit-node" title="Edit node: " style="display:none;">
      <div id="dialogEditTabs">
        <ul>
            <li><a href="#tabEditNotes">Notes</a></li>
            <li><a href="#tabEditProps">Props</a></li>
        </ul>
      
        <div id=tabEditNotes>
          <div><textarea name="descCkEditor" id="descEdit" rows="10" cols="80" style="display:none;"></textarea></div>
        </div>
        <div id=tabEditProps>
          <form action="" id="nodeProperties">
            <input type="text" name="name" title="Visible name of node"></input><br/>
            <select name="type" title="Type of node"></select><br/>
            <select name="nodeDependence" title="Node dependece" multiple style="height: 250px"></select><br/>
            <p id="actualDependence"><p>
          </form>
        </div>
      </div>
    </div>
</body>

</html>
